@font-face {
    font-family: "Pretendard-Black";
    src: url("./font/alternative/Pretendard-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url("./font/alternative/Pretendard-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard-ExtraBold";
    src: url("./font/alternative/Pretendard-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard-ExtraLight";
    src: url("./font/alternative/Pretendard-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard-Light";
    src: url("./font/alternative/Pretendard-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url("./font/alternative/Pretendard-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("./font/alternative/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard-SemiBold";
    src: url("./font/alternative/Pretendard-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Pretendard-Thin";
    src: url("./font/alternative/Pretendard-Thin.ttf") format("truetype");
}