body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none
}

#goToList {
    padding: 10px
}

#parkingEnd {
    background-color: #D1FD0F;  /* 배경색을 #D1FD0F로 설정 */
    color: black;  /* 글자색을 검은색으로 설정 */
    border-radius: 10px;

    height: 32px;  /* 높이를 30px 로 설정 */
    width: 90px;  /* 폭을 100px 로 설정 */
    line-height: 30px;  /* 세로 중앙 정렬을 위해 라인 높이를 요소의 높이와 동일하게 설정 */
    text-align: center;  /* 가로 중앙 정렬을 위해 텍스트 정렬을 센터로 설정 */
    display: inline-block;  /* width, height 속성 적용을 위해 display를 inline-block으로 설정 */
}

.topContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7%;
    color: #D1FD0F;
    font-family: 'Pretendard-SemiBold';
}

.topContent a {
    color: #D1FD0F;
}

.topContent a:link, .topContent a:visited {
    color: #D1FD0F;
}


.topContent a:first-child {
    float: left;
}

.topContent a:last-child {
    float: right;
}

.infoContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Pretendard-Bold';
}

.timeContent {
    display: flex;
    align-items: center;
}

.timeContent img {
    margin-right: 10px;
}

.infoContent span {
    font-size: 26px;  /* 글자 크기를 키움 */
    font-weight: bold;  /* 볼드체로 설정 */
}


.infoContent a:first-child {
    float: left;
}

.infoContent a:last-child {
    float: right;
}

.locationContent {
    display: flex;
    align-items: center;
    font-family: 'Pretendard-SemiBold';
    font-size: 16px;
}

.locationContent img {
    margin-right: 13px;
    margin-left: 4px;
}

#building-location {
    padding-bottom: 1px;
}



.main-content {
    display: none;
}




<!-- 하단 주차 정보 -->
.parkingContent {
    margin-top: 20px;
}
.parkingMain {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-size: 21px;  /* 글자 크기를 키움 */
    font-family: Pretendard-Bold;
}

#parkingList li {
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
    color: #8E8E93;
}


ul {
    list-style: none;
    padding: 0;
    font-family: Pretendard-Regular;
}

.parkingKey {

}


.parkingInfoList {
    margin-top:28px;
}

.parkingMain a:first-child {
    float: left;
}

.parkingMain a:last-child {
    float: right;
}

.parkingMain a:link, .parkingMain a:visited {
    color: white;
}






.splash-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.splash-content {
    text-align: center;
}

.splash-container.hide {
    opacity: 0;
}

.snackbar {
    display: none;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.snackbar button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 8px 12px;
    margin-top: 8px;
    cursor: pointer;
}